version: "3.7"
services:
    #PHP Service
    app:
        build:
            context: .
            dockerfile: Dockerfile
        image: blog
        container_name: app
        restart: unless-stopped
        tty: true
        environment:
            SERVICE_NAME: app
            SERVICE_TAGS: dev
        working_dir: /var/www
        volumes:
            - ./:/var/www
            - ./php/local.ini:/usr/local/etc/php/conf.d/local.ini
        networks:
            - app-blog-network
            - nginxproxyman
            - sqldev-backend
        depends_on:
            # - db
            - redis

    #Nginx Service
    blog-webserver:
        image: nginx:alpine
        container_name: blog-webserver
        restart: unless-stopped
        tty: true
        #ports:
        #    - 8888:80
        #    - 448:443
        #    - 87.251.78.17:80:80
        #    - 87.251.78.17:443:443
        volumes:
            - ./:/var/www
            - ./nginx/conf.d/:/etc/nginx/conf.d/
            - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
        #extra_hosts:
        #    - pdweb.local:87.251.78.17
        networks:
            - app-blog-network
            - nginxproxyman

    #MySQL Service
    # db:
    #     image: mysql:8.0.34
    #     container_name: db
    #     restart: unless-stopped
    #     tty: true
    #     ports:
    #         #    - 217.114.43.138:33336:3306
    #         - 127.0.0.1:33336:3306
    #     environment:
    #         MYSQL_DATABASE: laravel
    #         MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    #         APP_DB_USERNAME: ${DB_USERNAME}
    #         APP_DB_PASSWORD: ${DB_PASSWORD}
    #         SERVICE_TAGS: dev
    #         SERVICE_NAME: mysql
    #         TZ: Europe/Moscow
    #     volumes:
    #         - dbblog:/var/lib/mysql
    #         - ./mysql/my.cnf:/etc/mysql/my.cnf
    #     networks:
    #         - app-blog-network

    redis:
        image: "redis:alpine"
        container_name: redis
        restart: unless-stopped
        tty: true
        # Connecting at browser
        # redis://username:password@87.251.78.17:6973/0
        # username: default
        # password: ${REDIS_PASSWORD}
        command: redis-server --requirepass ${REDIS_PASSWORD}
        ports:
            #    - 87.251.78.17:6973:6379
            - 127.0.0.1:6973:6973
        volumes:
            - redis-blog:/var/lib/redis
            - ./redis/redis.conf:/usr/local/etc/redis/redis.conf
        environment:
            - REDIS_REPLICATION_MODE=master
        networks:
            - app-blog-network

    #phpMyAdmin container
    #phpmyadmin:
    # Use phpmyadmin/phpmyadmin:latest image
    #image: phpmyadmin/phpmyadmin:latest
    # Map port 8033 on the host to port 80 inside the container
    # Syntax is: "HOST_PORT:CONTAINER_PORT"
    #ports:
    #    - 87.251.78.17:8088:80
    #    - 8088:8088
    # Pass a list of environment variables to the container
    #environment:
    #    PMA_HOST: db
    #    UPLOAD_LIMIT: 256M
    #    MAX_EXECUTION_TIME: 3000
    # Connect to "drfoxg-net" network, as defined below
    #networks:
    #    - app-blog-network
    #    - nginxproxyman
    # Wait for "mysql" container to start first
    #depends_on:
    #    - db

#Docker Networks
networks:
    app-blog-network:
        driver: bridge
    nginxproxyman:
        external: true
        name: nginxproxyman
    sqldev-backend:
        external: true
        name: sqldev-backend

#Volumes
volumes:
    dbblog:
        driver: local
    redis-blog:
        driver: local
